<p>
    search2 works!
  </p>
  <input type="text" #input (keyup)="showPlaceList(input)">
  <ul *ngIf="show">
    <li *ngFor = "let native_list of native_place" (click)="selectPlce(native_list,input)">
      {{native_list.place}}
    </li>
  </ul>
  <ul *ngIf="show"> 
    <li *ngFor = "let external_list of external_place" (click)="selectPlce(external_list,input)">
      {{external_list.place}}
    </li>
  </ul>


  <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="datemodel"  ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
    
            <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
    
          </div>
        </div>
      </div>
    </form>
    <hr/>
    <button (click)="dpsQkdgkrl()">aasasasasa</button>
    <input type="checkbox" [(ngModel)]="dpsQkd">
    <div *ngIf="!dpsQkd">
    <ul>
      <li *ngFor="let i of user">
        {{i.member.name}}
        <input type="number" (keyup)="makeTotalmoney($event)" [(ngModel)]="i.money" placeholder="0">
      </li>
      <h1>total : <span>{{total}}</span></h1>
    </ul>
  </div>
  <div *ngIf="dpsQkd">
    <h1>
      total: <input type="text" [(ngModel)]="total">
    </h1>
    <li *ngFor="let i of user">
      {{i.member.name}}
      <input type="checkbox" [(ngModel)]="i.check">
      {{i.check}}
    </li>
  </div>
    <button (click)="test()">123123123</button>
    <button (click)="addPayment()">12312333333</button>


    